<!DOCTYPE html>
{% extends 'templates/base.html' %}

{% block css %}
    {#    <link rel="stylesheet" type="text/css" href="css/contact.css"/>#}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/contact.js"></script>
{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-xs-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-md-8 col-lg-8 content-col bg-theme-gray inner-div-shadow rounded">
            <div class="row">
                <div class="page-header primary-header text-center">
                    <h1 class="text-shadow-lg">Contact</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2 col-lg-2"></div>
    </div>
{% endblock %}